@import url("./components/components.css");
@import url("./sections/sections.css");

* {
    padding:0;
    margin:0;
}

html {
    overflow-y: scroll;
    background-color: var(--main-bg-color);
    color:var(--main-letter-color);
    display: flex;
    --main-bg-color:#fcfcfd7a;  
    --main-letter-color: #1a225c;
    --main-hover-color:#4c83fc;
    --main-activated-color:#1c58db;
}

.dark-mode {
    --main-bg-color:#2c2b2e;  
    --main-letter-color: #fcfcfd;
    --main-hover-color:#4c83fc;
    --main-activated-color:#1c58db;
}

body {
    display: flex;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    margin-left: 20%;
    margin-right: 20%;
    position:relative;
    font-family: 'Open Sans', sans-serif;
}

.navbar-container {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.section-container {
    margin-top: 2%;
    padding-left: 1%;
    height: 100%;
}

.footer-container {
    margin-top: auto;
}
