.navbar {
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: var(--main-bg-color);
    color: var(--main-letter-color);
    font-family: 'Dosis', sans-serif;
}

li.nav-link {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold; 
    letter-spacing: 0.1em;
    color: var(--main-letter-color);
    transition: color 0.3s ease;
    list-style: none;
    margin-right: 5px;
  }

  a.nav-link-logo {
    color: var(--main-letter-color);
    transition: color 0.3s ease;
  }

.nav-row-1 {
    display: flex;
    justify-content: space-between;
    padding-left:1%;
    padding-right:1%;
    padding-bottom: 0.5em;

  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    min-width: 120px ;
  }

  .nav-row-2 {
    display: grid;
    grid-template-columns: [first] 30% [other]auto [last] 30%;

    padding-left:1%;
    padding-right:1%;
    padding-top: 0.5em;
    
    border-top:0.1em;
    border-top-color:var(--main-letter-color);
    border-top-style:solid; 
  }

  .left {
    justify-self:left;
  }

  .middle {
    justify-self: center;
  }

  .right {
    justify-self:end;
  }

  div li:hover {
    color: var(--main-hover-color);

  }

  li.activated {
    color: var(--main-activated-color);
  }

  .nav-link-logo:hover path {
    fill:var(--main-hover-color);
    transition: fill 0.3s ease;
    cursor: pointer;
  }

  .nav-link {
    cursor: pointer;
  }